// pagina de acerca de

.acerca_de {
    background-color: black;
    .slider-frame {
        width: 50%;
        height: auto;
        margin: 30px auto 0;
        overflow: hidden;
        ul {
            display: flex;
            padding: 0;
            width: 400%;
            animation: slide 16s infinite alternate ease-in-out;
            
            // donde meto los keyframes? 
            @keyframes slide {
                0% {
                    margin-left: 0%;
                }
            
                20% {
                    margin-left: 0%;
                }
            
                25% {
                    margin-left: -100%;
                }
            
                45% {
                    margin-left: -100%;
                }
            
                50% {
                    margin-left: -200%;
                }
            
                70% {
                    margin-left: -200%;
                }
            
                75% {
                    margin-left: -300%;
                }
            
                95% {
                    margin-left: -300%;
                }
            
            }
            li {
                list-style: none;
                width: 100%;
                img {
                    width: 100%;
                }
            }         
        }
    }
    .descripcion_y_titulo_conocenos {
        display: flex;
        align-items: center;
        padding-left: 2%;
        padding-right: 2%;
        flex-direction: column;
        justify-content: center;
        .titulo_acerca {
            h3 {
                color: red;
                font-size: 2rem;
                text-align: center;
                font-family: 'Play', sans-serif;
            
            }
            
        }
        .descripcion_acerca {
                
            p {
                color: white;
                font-size: 1.5rem;
                font-family: 'Play', sans-serif;
                text-align: justify;
            }
            ul {
                li {
                    font-family: 'Play', sans-serif;
                    color: white;
                    font-size: 1.5rem;
                }
            }
        }
    }
}