// pagina de servicios

.pag_servicios {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex: 200px;
    flex-direction: column;
    
    .servicios_en_pagina {

        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2%;
        margin-right: 2%;        
        .descripcion_y_titulo_servicio {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            font-family: 'Play', sans-serif;
            margin-right: 2%;
        }
        .imagen_servicio {

            img {
                width: 300px;
                height: 200px;
                margin: 2px;
            }
        } 
    }
}

.partners {
    .partner_containers {
        display: flex;
    
        // padding: 10px;
        justify-content: space-around;
        align-items: center;
        .partner_box {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Play', sans-serif;
            width: 32%;
            
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}